:root {
    --primary-color: #0D35FF;
    --secondary-color: #DDDDDD;
    --tertiary-color: #666666;
}

body{
    margin: 20px;
}

button{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;   
    cursor: pointer;
    color: #fff;
}
button.primary {
    background-color: var(--primary-color);
}
button.secondary {
    background-color: var(--tertiary-color);
}
