@import './App.css';

header {

    display: flex;
    justify-content: center;
    margin: 50px 0px;

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 100px;
        }

        h2 {
            font-family: "Poiret One", sans-serif;
            font-weight: 900;
            font-style: normal;
            font-size: 36px;
            margin: 5px;
        }

        h3{
            font-family: "Rajdhani", sans-serif;
            font-weight: 300;
            font-style: normal;
            margin: 0px;
        }
    }
}
