main.home{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;

    h1{
        margin-top: 50px;
        margin-bottom: 0px;
    }
    p{
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
